<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="newWeddingForm">
                <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                    <h2>Bride</h2>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input />
                    </md-input-container>
                </div>

                <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                    <h2>Groom</h2>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input />
                    </md-input-container>
                </div>

                <div layout-gt-sm="column">
                    <md-button class="md-raised md-primary">OK, Create</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>