<md-list ng-cloak>
    <md-subheader class="md-no-sticky">So, what next?</md-subheader>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
        <md-icon>people</md-icon>
        <p>Make sure you plan the Civil Ceremony Date</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
        <md-icon>notifications</md-icon>
        <p>Plan the Religious Ceremony</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
        <md-icon>cake</md-icon>
        <p>Plan the Wedding Reception</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
        <md-icon>more_horiz</md-icon>
        <p>Plan something else...</p>
    </md-list-item>
</md-list>
